body {
    margin: auto;
    width: 70%;
    background-image: url(/Images/sterne-himmel-weltall-hintergrund-1632688605xQg.jpg);
    color: white;
}

h1,h2,h3 {
    margin-top: 1,5em;
    font-family: Comfortaa;
}

h1 {
    size: 32px;
}

figcaption {
    font-style: italic;
}

figure {
    float: right;
}